/*---MAIN PAGE---*/
@import url('https://fonts.cdnfonts.com/css/baskerville?styles=17607" rel="stylesheet');

.main-page {
    min-height: 100vh;
    position: relative;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.753);
    background-blend-mode: lighten;
    background-size: cover;
    padding-top: 40px;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #0F2C59;
}

p {
    font-size: 18px;
    line-height: 28px;
    color: #0F2C59;
}