#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 9em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-container {
  display: flex;
  flex-direction: column;
}


.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  z-index: 4000;
  top: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
}

.dropdown:not(:empty) {
  display: block;
}

.dropdown-row {
  background-color: white;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  text-align: start;
  display: inline-block;
  width: 100%;
}

.dropdown-row:hover {
  background-color: #4d4949;
  color: white;
}